:root{
    --main-title: #292e47;
    --standard-text: #6b708d;
    --standard-link: #072ac8;
    --light-bg:#fff;
    --light-text:#fff;
    --dark-bg:#292e47;
    --golden-text:#ffc600;
    --golden-bg:#ffc600;
}


*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--standard-text);
}
a{
    text-decoration: none;
    color: var(--standard-text);
}
body{
    background-color: #f2f4fc;
    margin: 0;
}
.standard-title{
    
    font-weight: bolder;
    margin-bottom: 70px;
    color: var(--main-title);
}
/* ------------------------------------------- nav styles*/
.nav-container{
    margin: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 60px;
}
.nav-links-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    
}
.nav-links-container a{
font-weight:bold ;
font-size: 1rem;
}
.contact-btn{
    padding: 1rem 2rem;
    color: var(--light-text);
    background-color:var(--standard-link) ;
}/* ------------------------------------------- nav styles*/
.nav-container{
    margin: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 60px;
}
.nav-links-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    
}
.nav-links-container a{
font-weight:bold ;
font-size: 1rem;
}
.contact-btn{
    padding: 1rem 2rem;
    color: var(--light-text);
    background-color:var(--standard-link) ;
}
/* ------------------------------------------- contact form styles*/
.title-contact{
    font-size: 4rem;
}
.input-form{
    padding: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
.label-contact-form{
    font-size: 1.2rem;
    margin: 1.5rem 0 0.5rem 0;
}
textarea{
    height: 250px;
}
.btn-contact{
    background-color: var(--standard-link);
    color: var(--light-text);
    padding: 1.5rem;
}
.btn-contact:hover{
    background-color: #292e47;
}
.input-form:focus-visible , textarea:focus-visible{
outline: none;
}
