:root{
    --main-title: #292e47;
    --standard-text: #6b708d;
    --standard-link: #072ac8;
    --light-bg:#fff;
    --light-text:#fff;
    --dark-bg:#292e47;
    --golden-text:#ffc600;
    --golden-bg:#ffc600;
    --main-bg:#f2f4fc;
}


*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--standard-text);
}
a{
    text-decoration: none;
    color: var(--standard-text);
}
body{
    background-color: #f2f4fc;
    margin: 0;
}
.standard-title{
    
    font-weight: bolder;
    margin-bottom: 70px;
    color: var(--main-title);
}
/* --------------------------------------------- nav pseudo selectors*/
.contact-btn:hover{
    background-color: #292e47;
}
.nav-links-container a:hover{
    color:var(--standard-link);
}
.nav-links-container a:current {
    color:#0082f3
}
/* ------------------------------------------- nav styles*/
.nav-container{
    margin: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 60px;
}
.nav-links-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    
}
.nav-links-container a{
font-weight:bold ;
font-size: 1rem;
}
.contact-btn{
    padding: 1rem 2rem;
    color: var(--light-text);
    background-color:var(--standard-link) ;
}/* ------------------------------------------- nav styles*/
.nav-container{
    margin: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 60px;
}
.nav-links-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    
}
.nav-links-container a{
font-weight:bold ;
font-size: 1rem;
}
.contact-btn{
    padding: 1rem 2rem;
    color: var(--light-text);
    background-color:var(--standard-link) ;
}
/* --------------------------------------------- Burger Menu*/
.container-burger{
    background-color: var(--main-bg);
    padding-top: 20px;
    z-index: 2;
    position: relative;
  }
  .burger-nav{
    display: flex;
    justify-content: space-between;
  }
  .open-burger i, .close-burger i{
    font-size: 28px;
    font-weight: bolder;
    color:var(--main-title) ;
    padding: 15px 20px;
    height: 100%;
    background-color: #C8C8C8;
  }
  .close-burger{
    display: none;
  }
  .close-burger i{
    
    color: var(--light-text);
  }
  .burger-links{
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: #C8C8C8;
  }
  .burger-links a li{
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 50px;
    font-weight: bold;
  }
  /*          ------------------- keyframe for toggle animations burger menu */
  @keyframes slideDown {
    0% {
        
        transform:translateY(-150px);
    }
    100% {
        
        transform:translateY();
    }
  }
  @keyframes slideUp {
    0% {
      transform:translateY();
        
    }
    100% {
      
      transform:translateY(-150px);
    }
  }
  
/* ------------------------------------------- contact form styles*/
.title-contact{
    font-size: 4rem;
}
.input-form{
    padding: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
.label-contact-form{
    font-size: 1.2rem;
    margin: 1.5rem 0 0.5rem 0;
}
textarea{
    height: 250px;
}
.btn-contact{
    background-color: var(--standard-link);
    color: var(--light-text);
    padding: 1.5rem;
}
.btn-contact:hover{
    background-color:var(--dark-bg);
}
.input-form:focus-visible , textarea:focus-visible{
outline: none;
}
.submission-recieved{
    background-color: #dddddd;
    color: var(--standard-text);
    padding: 1.2rem;
}

/* -------------------------------------------footer section styles*/
footer a{
    color: var(--standard-link);
}
@media (min-width: 1024px){
    .container-burger{
      display: none;
    }
  }
  @media (max-width: 1024px){
    .full-navbar{
      display: none;
    }
  }