/* ---------------------------------------------- general styles*/
/*              -------- pallete         */
:root {
  --main-title: #292e47;
  --standard-text: #6b708d;
  --standard-link: #072ac8;
  --light-bg: #fff;
  --light-text: #fff;
  --dark-bg: #292e47;
  --golden-text: #ffc600;
  --golden-bg: #ffc600;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--standard-text);
}
a {
  text-decoration: none;
  color: #6b708d;
}
body {
  background-color: #f2f4fc;
  margin: 0;
}
.standard-title {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 70px;
  color: var(--main-title);
}
/* ------------------------------------------- general pseudo elements*/
.contact-btn:hover {
  background-color: #292e47;
}
/* ------------------------------------------- nav styles*/
.nav-container {
  margin: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.logo-img {
  width: 60px;
}
.nav-links-container > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.nav-links-container a {
  font-weight: bold;
  font-size: 1rem;
}
.contact-btn {
  padding: 1rem 2rem;
  color: var(--light-text);
  background-color: var(--standard-link);
}
/* --------------------------------------------- nav pseudo selectors*/
.nav-links-container a:hover {
  color: var(--standard-link);
}
.nav-links-container a:current {
  color: #0082f3;
}
/* --------------------------------------------- main section information*/
.main-info {
  padding: 100px 70px 0 70px;
}
.main-text {
  width: 45%;
}

.main-title {
  color: var(--main-title);
  line-height: 1.3;
  font-weight: bolder;
}
.main-text p {
  color: var(--standard-text);
  margin: 0px 40px 40px 0;
}
/*                              ----------- absolute images  */
.main-container-img {
  position: relative;
}
.main-card-img {
  position: absolute;
}
.main-card-img1 {
  left: -15%;
}
.main-card-img2 {
  bottom: -25%;
  right: -15%;
}

/* ----------------------------------------------- projects section */

.card {
  background: var(--light-bg);
}
.card-info {
  margin: auto auto 40px 20px;
  padding: 10px;
}
.card-info h4 {
  color: var(--main-title);
}

.card-info a {
  color: var(--standard-link);
}
/* --------------------------------------- client opinion section */
.clients-section {
  background: var(--dark-bg);
  padding: 10px 0;
  min-height: 600px;
  margin: 200px 0;
}
.sticker-face {
  position: relative;
}
.sticker-face > img {
  height: 150px;
  position: absolute;
}
.client-title {
  color: var(--light-text);
}

.client-text {
  color: var(--golden-text);
}

.BookingGirl > img {
  width: 170px;
}
/* --------------------------------------------- relatives icons faces*/
.happyGirl1 img {
  left: 10%;
  top: 60px;
}
.happyGirl2 img {
  right: 10%;
  top: 60px;
}
.happyBoy1 img {
  left: 10%;
}
.happyBoy2 img {
  right: 10%;
}
/* -----------------------------------Services section styles */
.services-section img {
  width: 80px;
  margin: 30px 0 0 30px;
}
/* ------------------------------------ Newsletter Section Styles */
.newsletter-section {
  background: var(--golden-bg);
  height: 500px;
}
.newsletter-title {
  color: var(--main-title);
}
.submission-recieved{
    background-color: #dddddd;
    color: var(--standard-text);
    padding: 1.2rem;
}
form {
  position: relative;
}

form > input {
  padding-left: 5rem;
  min-height: 88px;
}

form > input:focus-visible {
  outline: 1px solid #3898ec;
}
form > input:placeholder-shown {
  font-size: 1.2rem;
}

form > img {
  height: 30px;
  position: absolute;
  top: 27px;
  left: 7%;
}
form button {
  min-height: 88px;
  background: var(--standard-link);
  color: var(--light-text);
  border: none;
  width: 180px;
  padding: 32px;
}
/* --------------------------------------------- footer section*/
footer a {
  color: var();
}

@media (max-width: 500px) {
  .container-main-link {
    flex-direction: column;
  }
  .main-text p {
    margin: 3rem 0;
    text-align: center;
  }
  .container-main-link a {
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  form > input {
    padding-left: 3.5rem;
  }
}
@media (max-width: 768px) {
  form > img {
    left: 20%;
  }
}
